.analytics {
  width: 100%;
}

.analytics.present img {
  margin: 0;
  height: 250px;
}

.devs {
  display: flex;
  gap: 5px;
}

.analytics .devs img {
  height: 220px;
  margin: 0;
}

#review {
  display: flex;
  flex-direction: column;
}

.meet {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.meeting .meet p {
  margin: 0;
}

.meeting .meet span {
  font-size: 30px;
}